.main{
    display:flex;
}

.html, .body, .main{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0
}
.Hypnotic_Blue{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.Hypnotic_Blue_Image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    height: 500px;
    width: 350; 
}
.Blue_Hypnotic_Text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2em;
    margin: 2em;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

.Hypnotic_Green{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
}
.Hypnotic_Green_Image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    height: 500px;
    width: 350; 
}
.Green_Hypnotic_Text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2em;
    margin: 2em;
    box-shadow: inset -5px 0 5px -5px #1fbb0b;
    font-style: italic;
    color: #1fbb0b;
}

.Hypnotic_Purple{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.Hypnotic_Purple_Image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    height: 486px;
    width: 350; 
}
.Purple_Hypnotic_Text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2em;
    margin: 2em;
    box-shadow: inset 5px 0 5px -5px #6a0392;
    font-style: italic;
    color: #6a0392;
}
/* .right{
    flex: 1 10px;
} */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 750;
  }
  li {
    display: inline; */
  /* .hypnotic_blue{
    flex: 2 2px;
    margin-left: 300px;
    margin-right: 200px;
    height: 500px;
    width: 350px;
    border: solid blue;
} */
/* .hypnotic_blue_text {
    width: 40%;
    padding-left: .5rem;
    margin-top: -503px;
    margin-bottom: 100px;
    margin-right: 434px;
    margin-left: 98px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
} */

/* .hypnotic_hulk {
    flex: 2 2px;
    margin-top: -3px;
    margin-bottom: 100px;
    margin-right: 270px;
    margin-left: 985px;
    height: 600px;
    width: 350px;
    border: solid green;
}
.hypnotic_hulk_text{
    width: 40%;
    padding-left: .5rem;
    margin-top: -599px;
    margin-bottom: 100px;
    margin-right: 930px;
    margin-left: 100px;
    float: right;
    box-shadow: inset -5px 0 5px -5px #1fbb0b;
    font-style: italic;
    color: #1fbb0b;
} */
/* .hypnotic_purple {
    flex: 2 2px;
    margin-left: 430px;
    height: 500px;
    width: 350px;
    border: solid purple;
}
.hypnotic_purple_text{
    width: 40%;
    padding-left: .5rem;
    margin-top: -509px;
    margin-bottom: 100px;
    margin-right: 280px;
    margin-left: 98px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #6a0392;
    font-style: italic;
    color: #6a0392;
} */

/* aside > p {
    margin: .5rem;
} */