.main{
    display:flex;
}
.left{
    flex: 2 2px;
    height: 60px;
    width: 250px;
    border: dotted red  
}
.right{
    flex: 1 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .hypnotic_blue{
    flex: 2 2px;
    height: 500px;
    width: 350px;
    border: dotted blue
}
.hypnotic_blue_text {
    width: 40%;
    padding-left: .5rem;
    margin-top: -503px;
    margin-bottom: 100px;
    margin-right: 280px;
    margin-left: 98px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
.hypnotic_hulk_text{
    width: 40%;
    padding-left: .5rem;
    margin-top: -599px;
    margin-bottom: 100px;
    margin-right: 280px;
    margin-left: 98px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #1fbb0b;
    font-style: italic;
    color: #1fbb0b;

}
.hypnotic_purple_text{
    width: 40%;
    padding-left: .5rem;
    margin-top: -509px;
    margin-bottom: 100px;
    margin-right: 280px;
    margin-left: 98px;
    float: right;
    box-shadow: inset 5px 0 5px -5px #6a0392;
    font-style: italic;
    color: #6a0392;
}

aside > p {
    margin: .5rem;
}

.hypnotic_hulk{
    flex: 2 2px;
    height: 600px;
    width: 350px;
    border: dotted green
}
.hypnotic_purple{
    flex: 2 2px;
    height: 500px;
    width: 350px;
    border: dotted purple
}