body {
    margin: 0;
    background-color: #F2F2D7;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #F4E645;
    background-color: #741546;
    border-bottom: #D71044;
    width: 100%;
    
}

/* .team_logo {
    display: flex;
    flex-wrap: wrap;
    justif-content: center;
    /* flex-basis: auto; */
} */

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    margin-right: 2em;
}
.site_nav {
    display: inline-block;
}