

body {
    background-color: rgb(223, 191, 216);
  }  

  .banner {
    display: flex;
    column-count: 2;
    flex-direction: column;
    }

  .first-section {
      display: flex;
    }

  .text-container {
  display: flex;
  flex-direction: column;
}

  img {
    display: flex;
    justify-content: center;
    padding: 1em;
    height: 300px;
   
  }
.full-page {
  column-count: 2;
  
}

  .column-layout {
    display: flex;
    flex-direction: column;
  }


  .mid-column {
    display: flex;
  }

  .last-column {
    display: flex;
  }

  .footerSection {
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .image-container{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
  }

  @media (min-width: 900px) {
    .column-layout {
      display: flex;
      justify-content: space-between;
    }
  }
  /* text styling lines */
  detail-text {
      display: flex;
      justify-content: center; 
      padding: 1em;
      font-style: italic;
    }
  
  p {
    display: flex;
    padding: 2em;
    border-width: 1em;
  }
  
  h4 {
    display: flex;
    justify-content: center;
    font-size: 18pt;
  }

