@import url("https://fonts.googleapis.com/css2?family=Damion&family=Roboto&display=swap");

  /* ////// Start Team Nav Styling //////*/

  nav {
    color: #4764c0;
    background-color: #741546;
    border-bottom: 2px solid #5c6ac6;
    width: 100%;
    font-family: "Damion", cursive;
  }

  a:link {
    color: #dca38d;
    text-decoration: none;
  }
  
  a:visited {
    color: #dca38d;
  }
  
  a:hover {
    color: rgb(223, 191, 216);
  }

.team_logo {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  font-size: 20pt;
  width: 50%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  margin-right: 2em;
  font-size: 17pt;
}

.site_nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  margin-right: 2em;
}

/* ////// End Team Nav Styling //////*/

body {
  /*background-color: rgb(223, 191, 216)*/
  background-color: #cadfd3;
  }  
  
 .banner {
   display: flex;
   justify-content: space-evenly;
 }

  .banner-container {
    display: flex;
    flex-direction: row;
    padding: .5em;
    }

    .responsive-section {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      height: auto;
    }

    .first-section {
    width: 60%;
    padding-left: 1rem;
    margin-left: 1rem;
    }

  .text-container {
  display: flex;
  flex-direction: column;
}

  img {
    padding: .5em;
    height: 400px;
   }

.full-page {
  column-count: 2;
  
}

  .column-layout {
    display: flex;
    flex-direction: column;
  }


  .mid-column {
    display: flex;
  }

  .last-column {
    display: flex;
  }

  .footerSection {
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .image-container {
    padding: 1em;
  }

  .image-center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
    }


  @media (min-width: 900px) {
    .column-layout, .site_nav {
      display: flex;
      justify-content: space-between;
    }
  }
  /* text styling lines */
  detail-text {
      display: flex;
      justify-content: center; 
      padding: 1em;
      font-style: italic;
    }
  
  p {
    display: flex;
    padding: .5em;
    border-width: 1em;
  }
  
  h4 {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    padding: .5em;
  }

