

body {
    background-color: rgb(231, 241, 241);
  }  


  img {
    display: flex;
    justify-content: center;
    padding: 4em;
    height: 400px;
   
  }


  #app {
    display: flex;
    justify-content: space-around;
    padding: 1em;
  
  }
  
  li {
      display: flex;
      justify-content: center;
      padding: 3em;
    }
  
  h4 {
    justify-content: center;
    font-size: 20pt;
    /*margin: 1rem;*/
  }

  .box {
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }